@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
/* -------------Nav Style start---------------- */

.header-section{
    margin: 40px 0 50px 0;
}
.navbar-section{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
}

.logo-container{
    min-height: 15px;
    display: flex;
    align-items: center;
    width: 50%;
}
.logo-container img{
    width: 48px;
    height: 56px;
    object-fit: cover;
}
.logo-container p{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 15px;
}
.special{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-container a{
    text-decoration: none;
    color:#424247;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
/* -------------Nav Style End---------------- */